In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency

In [2]:
from glob import glob 
glob('./*')

['./Predict_bad_loan.ipynb',
 './GR5243_Project_1-main.zip',
 './Loan_Dataset.csv',
 './variable_descriptions']

In [3]:
df = pd.read_csv('Loan_Dataset.csv')

In [4]:
df.head()

,id,grade,annual_income,short_employee,emp_length_num,home_ownership,Debt-To-Income Ratio,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,od_ratio,bad_loan
0,11454641,A,100000,1,1,RENT,26.27,credit_card,36 months,1,NaN,43.2,0.0,0.160624,0
1,9604874,A,83000,0,4,OWN,5.39,credit_card,36 months,0,NaN,21.5,0.0,0.810777,0
2,9684700,D,78000,0,11,MORTGAGE,18.45,debt_consolidation,60 months,1,NaN,46.3,0.0,0.035147,1
3,9695736,D,37536,0,6,MORTGAGE,12.28,medical,60 months,0,NaN,10.7,0.0,0.534887,1
4,9795013,D,65000,0,11,MORTGAGE,11.26,debt_consolidation,36 months,0,NaN,15.2,0.0,0.166500,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     20000 non-null  int64
 1   grade                  20000 non-null  object
 2   annual_income          20000 non-null  int64
 3   short_employee         20000 non-null  int64
 4   emp_length_num         20000 non-null  int64
 5   home_ownership         18509 non-null  object
 6   Debt-To-Income Ratio   19846 non-null  float64
 7   purpose                20000 non-null  object
 8   term                   20000 non-null  object
 9   last_delinq_none       20000 non-null  int64
 10  last_major_derog_none  574 non-null    float64
 11  revol_util             20000 non-null  float64
 12  total_rec_late_fee     20000 non-null  float64
 13  od_ratio               20000 non-null  float64
 14  bad_loan               20000 non-null  int64
dtypes: float64(5), int64(6), object(4)
memory usage: 2.3+ MB

In [6]:
#last_major_derog_none - 1 when the loaner has a bad rating for at least 90 days.
df.last_major_derog_none.value_counts()

1.0    436
0.0    138
Name: last_major_derog_none, dtype: int64

In [7]:
#decide how to deal with missing values

#since the majority of the values in last_major_derog_none are missing, dropping the whole column
df.drop(columns= ['last_major_derog_none'], inplace=True)
df.shape

(20000, 14)

In [8]:
df.fillna('NA',inplace=True)

In [9]:
df.home_ownership.value_counts()

MORTGAGE    9844
RENT        7052
OWN         1613
NA          1491
Name: home_ownership, dtype: int64

In [10]:
#is missing values in home_ownership related to the target, bad_loan?
#if yes, then we should not just drop all the rows with missing home_ownership values
#if no, then we can drop those rows
#use chi-square test to test

#table = df.groupby(['bad_loan','home_ownership']).id.agg(['count'])
table = pd.crosstab(df.bad_loan, df.home_ownership,margins=True, margins_name='Total')
table

home_ownership  MORTGAGE    NA   OWN  RENT  Total
bad_loan
0                   8136  1199  1297  5368  16000
1                   1708   292   316  1684   4000
Total               9844  1491  1613  7052  20000

In [11]:
table_2 = list(table.loc[[0,1],'NA']), list(table.loc[[0,1],'Total'])
table_2

([1199, 292], [16000, 4000])

In [12]:
chi2_stat, p_value, dof, expected_values = chi2_contingency(table_2)
print("Chi-square statistic:", chi2_stat)
print("P-value:", p_val)
print("Degrees of freedom:", dof)
print("Expected values table:")
print(expected_values)

if p_value < 0.05:
  print(f'Chi-square Statistic is {chi2_stat}. P-value is {p_value}. Reject the null hypothesis. The number of missing values in home_ownership and bad_loan are dependent. Observations with missing home_ownership values may not be dropped.')
else:
  print(f'Chi-square Statistic is {chi2_stat}. P-value is {p_value}. Fail to reject the null hypothesis. The number of missing values in home_ownership and bad_loan are independent. Observations with missing home_ownership values may be dropped. Remaining observations will still represent the population.')

Chi-square statistic: 0.125226721135046

NameError: name 'p_val' is not defined

In [ ]:
row_num_be4 = df.shape[0]
row_num_to_drop = df.home_ownership.value_counts()['NA']

df = df[df.home_ownership!='NA']
row_num_aft = df.shape[0]

assert row_num_aft == row_num_be4 - row_num_to_drop

In [ ]:
#is missing values in Debt-To-Income Ratio related to the target, bad_loan?
#if yes, then we should not just drop all the rows with missing home_ownership values
#if no, then we can drop those rows
#use chi-square test to test

dti_ratio = df['Debt-To-Income Ratio'].apply(lambda x: 'non-NA' if x != 'NA' else 'NA')
table_3 = pd.crosstab(df.bad_loan, dti_ratio, margins=True, margins_name='Total')
table_3

In [ ]:
chi2_stat, p_value, dof, expected_values = chi2_contingency(table_3)
print("Chi-square statistic:", chi2_stat)
print("P-value:", p_val)
print("Degrees of freedom:", dof)
print("Expected values table:")
print(expected_values)

if p_value < 0.05:
  print(f'Chi-square Statistic is {chi2_stat}. P-value is {p_value}. Reject the null hypothesis. The number of missing values in debt-to-income_ratio and bad_loan are dependent. Observations with missing debt-to-income_ratio values may not be dropped.')
else:
  print(f'Chi-square Statistic is {chi2_stat}. P-value is {p_value}. Fail to reject the null hypothesis. The number of missing values in debt-to-income_ratio and bad_loan are independent. Observations with missing debt-to-income_ratio values may be dropped. Remaining observations will still represent the population.')

In [ ]:
row_num_be4 = df.shape[0]
row_num_to_drop = df['Debt-To-Income Ratio'].value_counts()['NA']

df = df[df['Debt-To-Income Ratio']!='NA']
row_num_aft = df.shape[0]

assert row_num_aft == row_num_be4 - row_num_to_drop

In [ ]:
#change Debt-To-Income Ratio to float
df['Debt-To-Income Ratio'] = df['Debt-To-Income Ratio'].astype(float)
df.info()

In [ ]:
#after dropping all the rows with missing info, there is no more missing value
(df=='NA').sum(axis=0).sum()

In [ ]:
df.describe()

In [ ]:
'''
From the variable_description file:
Short _ emp - 1 when the borrower has been employed for 1 year or less.
Emp _ length _ num - Number of years worked (in years). It ranges from 0 to 10, 
where 0 means less than a year and 10 means a decade or more.
'''

#mmm, i see max is 11 in emp_length_num. not a big deal??

In [ ]:
#double check to make sure obs with value 1 in short_employee have emp_length_num <=1

assert (df[df.short_employee==1]['emp_length_num']<=1).mean() ==1

In [ ]:
#outliers in revol_util and total_rec_late_fee?
sns.jointplot(x='revol_util',y='total_rec_late_fee',data=df);
plt.show()

In [ ]:
df.revol_util.nlargest(10)

In [ ]:
df = df[df.revol_util!=5010.0]
df.shape

In [ ]:
#outliers in revol_util and total_rec_late_fee?
sns.jointplot(x='revol_util',y='total_rec_late_fee',data=df);

In [ ]:
df.head()

In [ ]:
counts = df.grade.value_counts()
perc = counts/len(df.grade)
counts, perc

In [ ]:
plt.pie(perc, labels=list(counts.index), autopct='%1.1f%%', startangle=140)
plt.title('Loan Grade Pie Chart')
plt.axis('equal')
plt.show()

In [ ]:
sns.countplot(x=df.grade, hue=df.term, color='pink')

In [ ]:
df.term.value_counts()

In [ ]:
df.term = df.term.apply(lambda x: ' 36 months' if x == ' 36 Months' else x)
df.term.value_counts()

In [ ]:
fig,ax = plt.subplots(5,1,figsize=(7,30))

# sns.barplot(x='grade',
#             y='annual_income',
#             data=df,
#             hue = 'bad_loan',
#             estimator=np.mean,
#             ci=95,
#             ax=ax[0]);
# ax[0].set_ylabel('mean annual_income');

sns.countplot(x=df.purpose, hue=df.bad_loan, ax=ax[0]);
ax[0].set_xticklabels(ax[0].get_xticklabels(), rotation=45)
ax[0].set_title('Loan Purpose Distribution');


sns.countplot(x=df.grade, hue=df.bad_loan, ax=ax[1]);
ax[1].set_title('Loan Grade Distribution');


sns.countplot(x=df.home_ownership, hue=df.bad_loan, ax=ax[2]);
ax[2].set_title('Home Ownership Distribution');

sns.countplot(x=df.term, hue=df.bad_loan, ax=ax[3]);
ax[3].set_title('Loan Term Distribution');

sns.countplot(x=df.last_delinq_none, hue=df.bad_loan, ax=ax[4]);
ax[4].set_title('Default Histroy');

In [ ]:
fig,ax = plt.subplots(5,1,figsize=(7,20))

sns.scatterplot(x='emp_length_num',
                y='annual_income',
                hue = 'bad_loan', 
                data=df, 
                ax=ax[0]);

sns.scatterplot(x='Debt-To-Income Ratio',
                y='annual_income',
                hue = 'bad_loan', 
                data=df, 
                ax=ax[1]);

sns.scatterplot(x='revol_util',
                y='annual_income',
                hue = 'bad_loan', 
                data=df, 
                ax=ax[2]);

sns.scatterplot(x='total_rec_late_fee',
                y='annual_income',
                hue = 'bad_loan', 
                data=df, 
                ax=ax[3]);

sns.scatterplot(x='od_ratio',
                y='annual_income',
                hue = 'bad_loan', 
                data=df, 
                ax=ax[4]);

In [ ]:
sns.pairplot(df[['annual_income','emp_length_num',\
                 'Debt-To-Income Ratio','revol_util',\
                 'total_rec_late_fee','od_ratio']]);